@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class = "main">
    <div class="attribute-block">
        <div class="attribute-title">
            <h3 class="display-3" style="color:aliceblue; text-align:center;">Сила</h3>
        </div>
        <hr style="color: red;" size="10" noshade/>
       <div class="grid-cards">
            <div class="container">
                <div class="row row-cols-4">
                    @foreach(var hero in Model.Heroes)
                    {
                        if(hero.primary_attribute == 0)
                        {
                            <a asp-page="Hero" asp-route-id="@hero.id_api">
                                <div class=" col hero-card" style="background: url(@("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/"+hero.name_handle+".png")); left: calc(244px + 0%); top: calc(142px);">
                                    <p class="card-text"><b>@hero.name</b></p>
                                </div>
                            </a>
                        }                      
                    }
                </div>
            </div>
       </div>
    </div>
    <div class="attribute-block">
        <div clss="attribute-title">
            <h3 class="display-3" style="color:aliceblue; text-align:center;">Ловкость</h3>
        </div>
        <hr style="color: green;" size="10"/>
        <div class="grid-cards">
            <div class="container">
                <div class="row row-cols-4">
                    @foreach (var hero in Model.Heroes)
                    {
                        if (hero.primary_attribute == 1)
                        {
                            <a asp-page="Hero" asp-route-id="@hero.id_api">
                                <div class=" col hero-card" style="background: url(@("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/"+hero.name_handle+".png")); left: calc(244px + 0%); top: calc(142px);">
                                    <p class="card-text"><b>@hero.name</b></p>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="attribute-block">
        <div class="attribute-title">
            <h3 class="display-3" style="color:aliceblue; text-align:center;">Интелект</h3>
        </div>
        <hr style="color: blue;" size="10"/>
        <div class="grid-cards">
            <div class="container">
                <div class="row row-cols-4">
                    @foreach (var hero in Model.Heroes)
                    {
                        if (hero.primary_attribute == 2)
                        {
                            <a asp-page="Hero" asp-route-id="@hero.id_api">
                                <div class=" col hero-card" style="background: url(@("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/"+hero.name_handle+".png")); left: calc(244px + 0%); top: calc(142px);">
                                    <p class="card-text"><b>@hero.name</b></p>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
    </div>
    <div class="attribute-block">
        <div class="attribute-title">
            <h3 class="display-3" style="color:aliceblue; text-align:center;">Универсальность</h3>
        </div>
        <hr style="background-image: linear-gradient(90deg, rgba(245,4,4,1) 27%, rgba(5,255,0,1) 70%, rgba(0,142,255,1) 100%);" size="10"/>
        <div class="grid-cards">
            <div class="container">
                <div class="row row-cols-4">
                        @foreach (var hero in Model.Heroes)
                        {
                            if (hero.primary_attribute == 3)
                            {
                                <a asp-page="Hero" asp-route-id="@hero.id_api">
                                    <div class=" col hero-card" style="background: url(@("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/"+hero.name_handle+".png")); left: calc(244px + 0%); top: calc(142px);">
                                        <p class="card-text"><b>@hero.name</b></p>
                                    </div>
                                </a>
                            }
                        }
                </div>
            </div>
        </div>
    </div>
</div>
